*{
    margin: 0;
    padding: 0;
}
.color-nav {
    background-color: #353a40;
}
.color-ticket {
    color: #2d9943;
}

.margen {
    margin: 2rem 8rem;
}

.titulo-orador {
    text-align: center;
}
