* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1400px;
    margin: auto;
}

.container .logo {
    margin: 0;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
}

header .container {
    background-color: #353a40;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container img {
    height: 100%;
    width: 200px;
    display: flex;
}

header nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

header a {
    padding: 5px 12px;
}

nav .nav-link {
    color: #999ca2
}

nav .nav-compra {
    color: #298d42;
}

nav a:hover {
    color: white;
}

#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../img/ba1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

button {
    border-radius: 6px;
}

#hero .buttons {
    display: inline-flex;
}

#orador {
    padding: 8px;
    border: none;
    color: white;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 1px solid white;
    cursor: pointer;
    overflow: hidden;
    display: inline-flex;
    margin-right: 8px;
    cursor: pointer;
}

#ticket {
    cursor: pointer;
    display: inline-flex;
    padding: 8px 14px;
    background-color: #29a744;
    border: none;
    color: white;
    margin-left: 8px;
}

#oradores {
    background: burlywood;
}

#oradores h3 {
    font-weight: 200;
}

#oradores .container {
    text-align: center;
    color: black;
    padding: 150px 12px;
    margin: 0;
}

#oradores .card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

#oradores .js {
    background-color: #fec107;
    display: inline-flex;
    padding: 5px;
    border-radius: 6px;
    margin: 10px 10px 0px 0px;
    color: black;
    font-weight: bolder;
}

#oradores .react {
    background-color: #17a2b9;
    display: inline-flex;
    padding: 5px;
    border-radius: 6px;
    margin: 10px 0px 0px 0px;
    color: white;
    font-weight: bolder;
}

#oradores .businnes {
    background-color: #6c757d;
    display: inline-flex;
    padding: 5px;
    border-radius: 6px;
    margin: 10px 10px 0px 0px;
    color: white;
    font-weight: bolder;
}

#oradores .Startups {
    background-color: #dd3446;
    display: inline-flex;
    padding: 5px;
    border-radius: 6px;
    margin: 10px 0px 0px 0px;
    color: white;
    font-weight: bolder;
}

.etiqueta {
    display: inline-flexbox;
}

#oradores img {
    height: 100%;
    width: 200px;
    align-items: center;
}

#bsas-octubre .container {
    text-align: center;
    padding: 200px 12px;
    background-color: #353a40;
    color: white;
}

#bsas-octubre button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 1px solid white;
    cursor: pointer;
    overflow: hidden;
    color: white;
    padding: 8px;
}

#form-oradores .container {
    text-align: center;
}

#form-oradores h4 {
    font-weight: 200;
}

#form-oradores textarea {
    margin-top: 10px;
    width: 80%;
}

input {
    padding: 8px;
    width: 80%;
}

#nombre {
    margin-bottom: 10px;
}

#form-oradores h4 {
    margin-bottom: 5px;
}

#form-oradores h1 {
    margin-top: 0px;
}

#form-oradores button {
    cursor: pointer;
    margin-bottom: 20px;
    background-color: #96c93e;
    color: white;
    border: none;
    padding: 8px;
    min-width: 80%;
}

#pie-pagina .container {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    flex-direction: column;
    display: inline-flex;
}

footer {
    background-image: linear-gradient(to right, #1d3947, #1f4e6a);
}

footer a:hover {
    color: #999ca2;
}

@media (min-width: 720px) {
    header .container {
        flex-direction: row;
    }

    .container img {
        height: 100%;
        width: 80px;
        display: flex;
    }

    .container h2 {
        font-size: 20px;
    }

    header nav {
        flex-direction: row;
        padding-bottom: 0;
    }
    footer .container {
        padding-top: 0.6250rem;
        padding-bottom: 0.6250rem;
        flex-direction: row;
        display: inline-flex;

    }
}